server {
    listen 80;
    server_name {{ item.DOMAIN }};

    location /.well-known/acme-challenge {
      alias /etc/letsencrypt/webrootauth/.well-known/acme-challenge;
      location ~ /.well-known/acme-challenge/(.*) {
        add_header Content-Type application/jose+json;
      }
    }

    location / {
    	rewrite ^ https://$server_name$request_uri permanent;
    }
}
